
html{    height: 100%;background-color: #213F50;}

nav{margin: 0px;padding: 10px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #2c3e50;
}



.img-responsive{  display: inline; margin: 20px;   }
section.file_upload{padding: 30px 0 40px 0;}
section.file_upload .input-append{padding: 10px 0;}
section.file_upload #subfile{width: 80%;height: 45px;border-top-left-radius: 5px;border: 1px solid #999;border-bottom-left-radius: 5px;padding-left: 10px;}
section.file_upload a.btn{width: 20%;border: 1px solid #18bc9c;margin-left: -4px;margin-top: -4px;height: 45px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 0px;border-top-left-radius: 0px; color:#ffffff; background:#18bc9c; }
section.file_upload a.btn:hover, section.file_upload a.btn:focus, section.file_upload a.btn.focus{color:#18bc9c !important; background: #ffffff;}
section.file_upload button.btn{width:100%;}


section.season{background: #2c3e50;}
section.season h3{color:white;}
section.season .row img{width: 100%;}



footer {bottom: 0;width: 100%;}

@media only screen and (min-width: 768px){
    header .container {padding-top: 120px;padding-bottom: 20px; }

}
@media only screen and (max-width: 767px){
    .img-responsive { display: inline;width:70px;margin: 10px;}

}